<!DOCTYPE html>
<html>
  <head>
    <link rel ="stylesheet" href ="/css/style.css">
    <title>Welcome</title>
  </head>
  <body>
      <h1 id="header1">Meme Generator</h1>
      <h2>Welcome to my Meme Generator!</h2>
  <ul id="nav">
    <a href="http://localhost:8080/result">result</a>
    <a href="http://localhost:8080/fav">fav</a>
  </ul>
  <img id="img" height="100px" width="150px"
      src="https://www.publicdomainpictures.net/pictures/90000/velka/alpaca-chewing.jpg"
      alt="a-chewing-alpaca">
    <h4>CSSI-X day10</h4>
  </body>
</html>