<!DOCTYPE html>
<html>
  <head>
    <link rel ="stylesheet" href ="/css/style.css">
    <title>Welcome</title>
  </head>
  <body>
      <h1 id="header1welcome">Meme Generator</h1>
  <ul id="navwelcome">
      <a href="http://localhost:8080">Home</a>
    <a href="http://localhost:8080/result">Result</a>
    <a href="http://localhost:8080/fav">Fav</a>
  </ul>
  <h2>Welcome to my Meme Generator!</h2>
  <img id="img" height="100px" width="150px"
      src="https://www.publicdomainpictures.net/pictures/90000/velka/alpaca-chewing.jpg"
      alt="a-chewing-alpaca">
    <h4>CSSI-X day10</h4>
    <h1>{{line1}}</h1>
    <h1>{{line2}}</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/f/ff/Deep_in_thought.jpg">

  </body>
</html>